@use "../../sass/" as *;

.movie-grid {
    padding: 0 3rem;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 12px ;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    }

   
} 

.load-more {
    text-align: center;
    margin: 3rem 0;
}

.no-results {
    font-size: 1.6rem;
    text-align: center;
    padding: 12rem 3rem;
}