$body-background: #0f0f0f;
$main-color: #ff0000;
$text-color: #ffffff;

$white: #ffffff;
$black: #000000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// Default header height
$header-height: 8rem; 
// Height when header is shrinked
$header-shrink-height: 5rem; 

$border-radius: 10px;

// Default responsive
$mobile-width: 600px;
$tablet-width: 1024px;

// Default font family
$font-family: 'Montserrat', sans-serif;