@use "../../../../sass/" as *;

.header__nav-mobile {
    display: none;

    .menu-icon {
        z-index: 999;

        i {
            transition: color ease .3s;
        }

        i:hover {
            color: $main-color;   
        }
    }

    ul.overlay {
        position: absolute;
        top: 0;
        height: 100%;
        transform: translateX(-100%);
        width: 100%;
        font-size: 1.8rem;
        transition: transform ease .6s;
        z-index: 9999;
        background-color: rgba(0,0,0, 0.9);
 

        li {
            position: relative;
            font-weight: 600;
            top: 15%;
            width: 100%;
            text-align: center;
            margin-top: 30px;

            a {
                display: block;
                padding: 2rem;

                i {
                    vertical-align: middle;
                }
            }

            &.active {
                color: $main-color;
            }
            
        } 
    }

    @include mobile {
        display: block;
    }
}

.menu-icon, .close-icon {
    position: absolute;
    top: 1.6rem;
    right: 3rem;
    font-size: 3.5rem;
    cursor: pointer;
}