@use "../../../../sass/" as *;

.trailer-popup {
    @include flex(center, center);
    background-color: rgba($color: $black, $alpha: 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;


    &-content {
        padding: 2rem;
        background-color: $body-background;
        width: 60%;
        transform: translateY(-250px);
        transition: transform 0.6s ease, opacity 0.6s ease;

        &__video {
            width: 100%;
            padding: 56.25% 0 0 0;
            position: relative;
            
            iframe {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        
        @include tablet {
            width: 80%;
            padding: 2.2rem;
        }

        &__close {
            position: absolute;
            right: 2px;
            top: 0;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}