@use "../../../../sass/" as *;

.cast-list {

    .swiper-slider {
        width: 8%;

        @include tablet {
            width: 15%;
        }
    }

    .cast-item {
        &__name {
            font-weight: 800;
            margin: 0 0 0.5rem;
        }
        
        &__charactor {
            font-size: 0.8rem;
        }
    }
}