@use "../../sass/" as *;
.header__logo {
    a {
        font-size: 2.5rem;
        font-weight: 600;

        @include flex(center, unset);
    }

    img {
        width: 50px;
        margin: 0 15px 0 0;

        @include mobile {
            width: 30px;
            margin: 0 5px 0 0;
        }
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    padding: 0 3rem;
    font-size: 1.5rem;

    @include flex(center, space-between);

    @include mobile {

    }

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-background;
    }
}

