@use "../../sass/" as *;

.footer {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4rem 5rem;
    margin: 1.6rem 0 0;

    &-content {
        max-width: 1000px;
        &__logo {
            margin: 0 0 3rem 0;
            a {
                font-size: 2.5rem;
                font-weight: 600;
        
                @include flex(center, center);
            }

            img {
                width: 240px;
                margin: 0 15px 0 0;

                @include smallTablet {
                    width: 210px;
                    margin: 0 5px 0 0;
                }
                
                @include mobile {
                    width: 180px;
                    margin: 0 5px 0 0;
                }
            }
        }

        &__menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__menu {
            margin: 1rem 0 0 0;
            @include flex(center, unset);
            flex-direction: column;
            font-weight: 600;

            & > * ~ * {
                margin: 1rem 0 0 0;
            }
        }


    }
}